<link rel="stylesheet" href = "/css/home.css">

<section class = "design-photo">
    <img src = "/images/Photo.jpg" alt = "">
    <h3 class = "name-portfolio">Bhagesh Bhutani</h3>
</section>

<section id = "coding-profiles" class = "coding-profiles">
    <%- include('_coding_profiles') %> 
</section>

<section id = "projects">
    <%- include('_projects') %> 
</section>

<section id = "experience">
    <%- include('_timeline_experience') %> 
</section>

<section id = "achievements">
    <%- include('_achievements') %> 
</section>

<section id = "education">
    <%- include('_education') %> 
</section>

<script src = "/js/home.js"></script>